{{set_title "Home"}}
{{bundle 'test.js'}}
{{bundle 'style/index.styl'}}
<p>Hello, world!</p>
<img src="/img/dive.jpg" alt="Dive into JavaScript">
<form>
    {{InputField label="Login" placeholder="Name yourself"}}
    {{InputField label="Password" type="password"}}
</form>

{{ExportObject prop_a="a" prop_b="b"}}
